*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', sans-serif;
  color: #e7e5e5;
}

p {
	color: #e3e3e3;
	text-align: left;
	font-size: 11px;
	width: 540px;
	line-height: 1.5em;
	margin:28px;
}

input {
	width: 100%;
	font-size: 16px;
	padding: 0.8em;
	margin: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input::placeholder {
	color: #ccc;
	font-family: 'Courier', sans-serif;
}

.thumbnail {
	padding: 25px;
	align-content: start;
}

#photos {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.search-bar {
	display: flex;
	justify-content: center;
	max-width: 40%;
	height: 4.5em;
	margin-top: 25px;
	margin-bottom: 25px;
	margin: auto;
}

@media only screen and (max-width: 768px) {
	p {
		width: 425px;
	}
}

@media only screen and (max-width: 600px) {
	p {
		width: 260px;
	}
}